
.card {
    max-width: 300px;
    min-width:300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    border: 1px solid rgba(137, 115, 115, 0.279);
    overflow:hidden;

}
.title {
    font-size: 1.6rem;
    text-align: center;
    padding: 20px;
}

.image-wrap {
    width: 100%;
    overflow: hidden;
    height: 200px;

}

.card-img {
    max-width: 100%;
    display: block;
    max-height: 200px;
    margin:auto;
}
.price {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.description {
    font-size:1.2rem;
    padding: 5px;
    text-align: center;
}


.card__actions {
    padding: 1rem;
    text-align: center;
  }
  
.card__actions button {
    margin: 0 0.25rem;
}

.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #7f2011;
    color: #7f2011;
    background: white;
    border-radius: 3px;
    cursor: pointer;
    width: 40%;
    margin: 10px 5px;
    transition: 0.5s;

  }
  
  .btn:hover,
  .btn:active {
    background-color: #5f190e;
    color: white;
  }
small {
    font-size: 70%;
    color: rgb(72, 70, 70);
}