#cart {

    min-height: 63vh;
    margin: 100px 0;
    margin-left:20px;
    margin-right: 20px; 
}

.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px; 
    max-width: 1000px;
    margin: 0 auto;


    
}

.cartItem .item_quantity {
    vertical-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.cartItem .price_col {
    vertical-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}
.cartItem .item_title {

    display: block;
    font-size: 24px;
    width: 30vw;
    font-weight: bold;
}

.cartItem .product_img{

    width: 10em; 
    display:block;
}

.cartItem .button {

    border: 1px solid #8c3629;
    font-size: 18px;
    margin-left: 0.5em;
    font-weight: bold;
    color: #5f190e;
    background-color: white;
    padding: 10px 20px;
    border-radius: .75em;
    cursor: pointer;
    transition: 0.5s;
    width: 20px;
    height: 20px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;


}

.cartItem .button p{
    margin: 0;
    padding: 0;
}
.cartItem .button:hover {

    background-color: #5f190e;
    color: white;
    border: 1px solid #5f190e;
}


.empty-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}